.DS_Store
.classpath
.gradle
.idea
.project
.settings
*.iml
*.ipr
*.iws

/bin
/build
/classes
/lib
/log
/target

/rivescript-*/bin
/rivescript-*/build
/rivescript-*/classes
/rivescript-*/lib
/rivescript-*/log
/rivescript-*/target

/samples/*/bin
/samples/*/build
/samples/*/classes
/samples/*/lib
/samples/*/log
/samples/*/target
